#buttons{
display: flex;
justify-content: space-around;
}

.gameBtn {
padding: 40px;
font-size: 40px;
margin-top: 100px;
}

#newGame {
  margin-top: 100px;
  padding: 20px;
  font-size: 40px;
}

#restartGame {
  display: flex;
  justify-content: flex-end;
}

#results {
  margin-top: 100px;
  font-size: 20px;
  border: solid black 2px;
  background-color: lightgrey;
}

.winner {
  font-weight: bolder;
  font-size: 22px;
}

html {
  background-color: #ADD8E6;
}